body {
    background-color: #332828;
}
.menu {
    float: left;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.menu a {
    background-color: #333030;
    padding: 8px;
    margin-top: 7px;
    display: inline;
    width: 100%;
    color: rgb(119, 116, 116);
    border-color: #333030;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}
.main {
    vertical-align: middle;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}
  
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}

ul.polaroids li {
    display: inline;
}
ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Times Roman", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    transform: rotate(-2deg);
    transition: transform .15s linear;
}

/*
ul.polaroids a {
    background: #fff; display: inline; float: left; margin: 0 0 27px 30px; 
    width: auto; padding: 10px 10px 15px; text-align: center; font-family: "Marker Felt", sans-serif; 
    text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
     -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg);
      -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
*/
ul.polaroids li {
      padding-left: 0;
}
@media screen and (max-width: 768px) {
    ul.polaroids li a {
    margin-left: 0;
    }
}
ul.polaroids img {
    display: block; width: 190px; margin-bottom: 12px;
}
ul.polaroids a:after {
    content: attr(title);
}

ul.polaroids li:nth-child(even) a {
    transform: rotate(2deg);
}
ul.polaroids li:nth-child(3n) a {
    transform: none;
    position: relative;
    top: -5px;
}
ul.polaroids li:nth-child(5n) a {
    transform: rotate(5deg);
    position: relative;
    right: 5px;
}
ul.polaroids li:nth-child(8n) a {
    position: relative;
    right: 5px;
    top: 8px;
}
ul.polaroids li:nth-child(11n) a {
    position: relative;
    left: -5px;
    top: 3px;
}

ul.polaroids li.messy a {
    margin-top: -400px;
    position: relative;
    left: 160px;
}

ul.polaroids li a:hover {
    transform: scale(1.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}
